[submodule "src/binutils"]
	path = src/binutils
	url = https://sourceware.org/git/binutils-gdb
[submodule "src/gcc"]
	path = src/gcc
	url = https://gcc.gnu.org/git/gcc
[submodule "src/glibc"]
	path = src/glibc
	url = https://sourceware.org/git/glibc
