#################################
# === Environment Variables === #
#################################
export __GL_SHADER_DISK_CACHE_SKIP_CLEANUP=1
export __GL_SYNC_DISPLAY_DEVICE=DP-0
export __GL_THREADED_OPTIMIZATIONS=1
export __GL_VRR_ALLOWED=1
export _JAVA_AWT_WM_NONREPARENTING=1
export BROWSER="chromium $(cat /home/iwas/.config/chromium-flags.conf | xargs)"
export CLUTTER_DEFAULT_FPS=144
export CLANGD_FLAGS="--header-insertion=never --clang-tidy --completion-style=detailed"
export EDITOR=nvim
export NVCC_PREPEND_FLAGS="-ccbin /usr/bin/gcc-12"
export XDG_CURRENT_DESKTOP=Pingu
export XDG_DOWNLOAD_DIR="/home/iwas/downloads"
export multithread_glsl_compiler=1

#########################
# === Startup Tasks === #
#########################
nvidia-settings -a "GPUPowerMizerMode=1"
gentoo-pipewire-launcher &
/usr/local/bin/picom --experimental-backends &
feh --bg-fill /home/iwas/.wallpapers/wallpaper_1.jpg --bg-fill /home/iwas/.wallpapers/wallpaper_2.jpg &
/usr/local/bin/clipmenud &
/usr/bin/emacs --daemon &
